* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
  cursor: pointer;
}

.container {
  max-width: 90%;
  margin: auto;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 5px 15px;
}

.paddingSmall {
  padding: 20px 0;
}

li,
ui {
  list-style-type: none;
}